<web-app>
    <display-name>Application</display-name>

<!--  <servlet>-->
<!--    <servlet-name>HomePageServlet</servlet-name>-->
<!--    <servlet-class>com.infoshare.fourfan.servlet.HomePageServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>HomePageServlet</servlet-name>-->
<!--    <url-pattern>/</url-pattern>-->
<!--  </servlet-mapping>-->

    <data-source>
        <name>java:ds/shoppingListDS</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
        <url>jdbc:mysql://localhost:3308/shoppingList?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</url>
        <user>root</user>
        <password>root</password>
    </data-source>

</web-app>


